/* tables */
.o_account_reports_page .tablesorter {
	#font-family:arial;
	background-color: #FFFFFF;
	font-size: 9pt;
	text-align: left;
	margin: auto;
	margin-bottom: 0px !important;
	border-bottom: solid 1px;
	width: 1880px;
	white-space: normal;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 9pt;
	padding: 4px;
}

table.tablesorter td {
	border-bottom: #cccccc solid 1px;
	border-top-style: unset;
}

/*table.tablesorter thead tr .header {
	background-image: url("/l10n_us_accounting/static/src/img/tablesorter/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}*/
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr:nth-child(odd) td {
	background-color:#f9f9f9;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url("/l10n_us_accounting/static/src/img/tablesorter/asc.gif");
	background-repeat: no-repeat;
	background-position: center right;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("/l10n_us_accounting/static/src/img/tablesorter/desc.gif");
	background-repeat: no-repeat;
	background-position: center right;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


/* Scroll bar */
table.tablesorter thead{
	display: block;
	/*background: #e6EEEE;*/
}

table.tablesorter tbody{
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	height: 600px;
	min-height: 200px;
}

@media (max-height: 1000px) {
  table.tablesorter tbody {
		height: 550px;
	}
}

@media (max-height: 900px) {
  table.tablesorter tbody {
		height: 450px;
	}
}

@media (max-height: 768px) {
  table.tablesorter tbody {
		height: 320px;
	}
}

@media (max-height: 640px) {
  table.tablesorter tbody {
		height: 200px;
	}
}

table.tablesorter .reconcile_th_7 {
	border-right: hidden;
}
table.tablesorter .reconcile_th_1, table.tablesorter .reconcile_td_0 { width: 235px; }
table.tablesorter .reconcile_th_0, table.tablesorter .reconcile_td_number { width: 285px; }
table.tablesorter .reconcile_th_2, table.tablesorter .reconcile_td_1 { width: 285px; }
table.tablesorter .reconcile_th_3, table.tablesorter .reconcile_td_2 { width: 400px; }
table.tablesorter .reconcile_th_4, table.tablesorter .reconcile_td_3 { width: 185px; }
table.tablesorter .reconcile_th_5, table.tablesorter .reconcile_td_4 { width: 200px; }
table.tablesorter .reconcile_th_6, table.tablesorter .reconcile_td_5 { width: 200px; }
table.tablesorter .reconcile_th_7, table.tablesorter .reconcile_td_6 { width: 65px; }

@media (max-width: 1919px) {
	.o_account_reports_page .tablesorter {width: 1580px;}
	table.tablesorter .reconcile_th_1, table.tablesorter .reconcile_td_0 { width: 200px; }
	table.tablesorter .reconcile_th_0, table.tablesorter .reconcile_td_number { width: 245px; }
	table.tablesorter .reconcile_th_2, table.tablesorter .reconcile_td_1 { width: 245px; }
	table.tablesorter .reconcile_th_3, table.tablesorter .reconcile_td_2 { width: 340px; }
	table.tablesorter .reconcile_th_4, table.tablesorter .reconcile_td_3 { width: 150px; }
	table.tablesorter .reconcile_th_5, table.tablesorter .reconcile_td_4 { width: 160px; }
	table.tablesorter .reconcile_th_6, table.tablesorter .reconcile_td_5 { width: 160px; }
	table.tablesorter .reconcile_th_7, table.tablesorter .reconcile_td_6 { width: 55px; }
}

@media (max-width: 1620px) {
	.o_account_reports_page .tablesorter {width: 1405px;}
	table.tablesorter .reconcile_th_1, table.tablesorter .reconcile_td_0 { width: 175px; }
	table.tablesorter .reconcile_th_0, table.tablesorter .reconcile_td_number { width: 215px; }
	table.tablesorter .reconcile_th_2, table.tablesorter .reconcile_td_1 { width: 215px; }
	table.tablesorter .reconcile_th_3, table.tablesorter .reconcile_td_2 { width: 300px; }
	table.tablesorter .reconcile_th_4, table.tablesorter .reconcile_td_3 { width: 130px; }
	table.tablesorter .reconcile_th_5, table.tablesorter .reconcile_td_4 { width: 150px; }
	table.tablesorter .reconcile_th_6, table.tablesorter .reconcile_td_5 { width: 150px; }
	table.tablesorter .reconcile_th_7, table.tablesorter .reconcile_td_6 { width: 45px; }
}

@media (max-width: 1436px) {
	.o_account_reports_page .tablesorter {width: 1200px;}
	table.tablesorter .reconcile_th_1, table.tablesorter .reconcile_td_0 { width: 150px; }
	table.tablesorter .reconcile_th_0, table.tablesorter .reconcile_td_number { width: 180px; }
	table.tablesorter .reconcile_th_2, table.tablesorter .reconcile_td_1 { width: 180px; }
	table.tablesorter .reconcile_th_3, table.tablesorter .reconcile_td_2 { width: 260px; }
	table.tablesorter .reconcile_th_4, table.tablesorter .reconcile_td_3 { width: 110px; }
	table.tablesorter .reconcile_th_5, table.tablesorter .reconcile_td_4 { width: 130px; }
	table.tablesorter .reconcile_th_6, table.tablesorter .reconcile_td_5 { width: 130px; }
	table.tablesorter .reconcile_th_7, table.tablesorter .reconcile_td_6 { width: 35px; }
}

@media (max-width: 1235px) {
	.o_account_reports_page .tablesorter {width: 1080px;}
	table.tablesorter .reconcile_th_1, table.tablesorter .reconcile_td_0 { width: 135px; }
	table.tablesorter .reconcile_th_0, table.tablesorter .reconcile_td_number { width: 165px; }
	table.tablesorter .reconcile_th_2, table.tablesorter .reconcile_td_1 { width: 165px; }
	table.tablesorter .reconcile_th_3, table.tablesorter .reconcile_td_2 { width: 230px; }
	table.tablesorter .reconcile_th_4, table.tablesorter .reconcile_td_3 { width: 95px; }
	table.tablesorter .reconcile_th_5, table.tablesorter .reconcile_td_4 { width: 115px; }
	table.tablesorter .reconcile_th_6, table.tablesorter .reconcile_td_5 { width: 115px; }
	table.tablesorter .reconcile_th_7, table.tablesorter .reconcile_td_6 { width: 35px; }
}

@media (max-width: 1115px) {
	.o_account_reports_page .tablesorter {width: 855px;}
	table.tablesorter .reconcile_th_1, table.tablesorter .reconcile_td_0 { width: 105px; }
	table.tablesorter .reconcile_th_0, table.tablesorter .reconcile_td_number { width: 130px; }
	table.tablesorter .reconcile_th_2, table.tablesorter .reconcile_td_1 { width: 130px; }
	table.tablesorter .reconcile_th_3, table.tablesorter .reconcile_td_2 { width: 185px; }
	table.tablesorter .reconcile_th_4, table.tablesorter .reconcile_td_3 { width: 75px; }
	table.tablesorter .reconcile_th_5, table.tablesorter .reconcile_td_4 { width: 90px; }
	table.tablesorter .reconcile_th_6, table.tablesorter .reconcile_td_5 { width: 90px; }
	table.tablesorter .reconcile_th_7, table.tablesorter .reconcile_td_6 { width: 25px; }
}